<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media Usage and Mental Health | Account Details</title>
</head>
<body>
    <a href="/loggedout">Click me</a>
</body>
</html>