<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="This survey helps us gage the mental health impact of social media usage on the citizens of Provo, UT" />
	<meta name="author" content="Alex Fankhauser, Preston Fitzgerald, Seth Brock, Zach Hansen" />
	<title>Social Media Usage and Mental Health | Survey</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="../assets/provoFavicon.png"/>
	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@latest/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="../css/styles.css" rel="stylesheet" />
	<style>
		/* Customize the ordered list, which affects the form */
		ol		{font-size: large;
				font-weight: medium;}
		
		/* This rounds the corners on the number box and the drop down boxes */
		input[type=number] 	{border-radius: 10px;
							border-color: black;}
		
		select	{border-radius: 10px;
				text-align: center;}
				
		input[type=radio]	{appearance: none;

							border-radius: 50%;
							width: 16px;
							height: 16px;

							border: 2px solid #999;
							transition: 0.2s all linear;
							margin-right: 5px;

							position: relative;
							top: 2px;}
		input[type=radio]:checked {
			border: 6px solid #76bd1d;
			}

		.radio-label	{margin-right: 15px;
						line-height: 32px;}


		

	</style>
		<style>
			/* .container2 {
				font-size: 24px;
				cursor: pointer;
				caret-color: transparent;
				display: flex;
				align-items: center;
			}
			img { padding-right: 5px;}


			/* Hide the browser's default checkbox */
			.container2 input {
			display: none;
			}

			/* Hide the checked checkbox */
			.img-checked {
				display: none;
			}
			.img-hover {
				display: none;
			}


			.container2 input:checked ~ .img-checked {
				display: inline;
			}


			.container2 input:checked ~ .img-unchecked {
				display: none;
			}

			.container2:hover input:not(:checked) ~ .img-hover {
				display: inline;
			} */

			/* .container2:hover input:not(:checked) ~ .img-checked {
				display: none;
			}

			.container2:hover input:not(:checked) ~ .img-unchecked {
				display: none;
			} */
		</style>
</head>

<body>
	<!-- Responsive navbar-->
	<nav class="navbar navbar-expand-lg navbar-white bg-white">
		<div class="container px-5">
			<a class="navbar-brand" href="/"><img src="../assets/provo logo.png" alt="Provo City Logo"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link active" aria-current="page" href="/survey">Survey</a></li>
					<li class="nav-item"><a class="nav-link" href="/graphs">Data</a></li>
					<li id="account" class="nav-item"></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Header-->
	<header class="bg-dark py-5">
		<div class="container px-5">
			<div class="row gx-5 justify-content-center">
				<div class="text-center">
					<br><br><br><br><br>
					<h1 class="display-5 fw-bolder text-white mb-2">Record for <%= account[0].Username %></h1><br>
					<p class="lead text-white-75 mb-4">
					</p>
				</div>
			</div>
		</div>
	</header>
	<!-- Here is the survey in all of it's glory. I used a variety of input with some Javascript to make it more fun-->
	<section class="py-5 border-bottom" id="features">
		<div class="container px-5 my-5" style="width: 65%; margin: auto">
			<form>
				<ol>
					<!--Q1: AGE-->
					<li><label for="age">What is your age?</label></li>
                    
                    
					<!--Q2: GENDER-->
					<li><label for="gender">What is your gender?</label></li>
                    

					<!--Q3: RELATIONSHIP STATUS-->
					<li><label for="relationship">What is your relationship status?</label></li>
                    

					<!--Q4: OCCUPATION STATUS-->
					<li><label>What is your occupation status?</label></li>
                    

					<!--Q5: AFFILIATED ORGANIZATIONS-->
					<li><label>What type of organizations are you affiliated with?</label></li>
                    

					<!--Q6: USE SOCIAL MEDIA-->
					<li><label>Do you use social media?</label></li>

					<!--Q7: SOCIAL MEDIA PLATFORMS USED-->
					<!--Something extra: replace the checkboxes with platform logos-->
					<li><label>What social media platforms do you commonly use?</label></li>
					

					<!--Q8: TIME SPENT ON SOCIAL MEDIA-->
					<li><label for="time">What is the average time you spend on social media every day?</label></li>

					<!--HIDDEN INPUT TO WRITE TIME SPENT STRING TO DATABASE-->
					<input type="hidden" name="timeOutput2" id="timeOutput2" value="">

					<!--Q9: ON SOCIAL MEDIA WITH NO PURPOSE-->
					<li><label for="np">How often do you find yourself using social media without a specific
							purpose?</label></li>

					<!--Q10: DISTRACTED BY SOCIAL MEDIA-->
					<li><label for="dsm">How often do you get distracted by social media when you are busy doing
							something?</label></li>

					<!--Q11: RESTLESS AFTER NOT USING SOCIAL MEDIA-->
					<li><label for="rw">Do you feel restless if you haven&#39;t used social media in a while?</label>
					</li>

					<!--Q12: HOW EASILY DISTRACTED-->
					<li><label for="ed">How easily distracted are you?</label></li>

					<!--Q13: BOTHERED BY WORRIES-->
					<li><label for="w">How much are you bothered by worries?</label></li>

					<!--Q14: DIFFICULTY CONCENTRATING-->
					<li><label for="dc">Do you find it difficult to concentrate on things?</label></li>

					<!--Q15: FREQUENCY COMPARING THROUGH SOCIAL MEDIA-->
					<li><label for="smc">How often do you compare yourself to other successful people through the use of
							social media?</label></li>

					<!--Q16: FEELINGS ABOUT COMPARISONS ON SOCIAL MEDIA-->
					<li><label for="cf">Following the previous question, how do you feel about these comparisons,
							generally speaking?</label></li>

					<!--Q17: LOOKING FOR VALIDATION THROUGH SOCIAL MEDIA-->
					<li><label for="val">How often do you look to seek validation from features of social media?</label>
					</li>

					<!--Q18: FEELING DEPRESSED OR DOWN-->
					<li><label for="dd">How often do you feel depressed or down?</label></li>

					<!--Q19: INTEREST IN DAILY ACTIVITIES-->
					<li><label for="ai">How frequently does your interested in daily activities fluctuate?</label></li>

					<!--Q20: SLEEP ISSUES-->
					<li><label for="si">How often do you face issues regarding sleep?</label></li>
				</ol>
				<br/><br/>
				<button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" href="/graphs">Return to dashboard</button>
			</form>
		</div>
	</section>

	<!-- Footer-->
	<footer class="py-5 bg-dark">
		<div class="container px-5">
			<p class="m-0 text-center text-white">smumh@byu.net   |  (801) 378-1557</p>
			<p class="m-0 text-center text-white">Copyright &copy; Not Actually Provo City 2023</p>
		</div>
	</footer>

	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

	<!-- Core theme JS-->
	<script src="../js/scripts.js"></script>
	<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
	

	<!-- All scripts from here on out serve a similar purpose, and it is to match sliders up with text. 
		They read the imput from the sliders and generate text immiediately underneath them -->
	<script>
		if (sessionStorage.getItem('login') == 'true') {
			document.getElementById('account').innerHTML = '<li class="nav-item"><a class="nav-link" href="/account">Account</a></li>'
		} else {
			document.getElementById('account').innerHTML = '<li class="nav-item"><a class="nav-link" href="/account">Log In</a></li>'
		}
	</script>
	<script>
		function validateForm() {
			let validate = document.forms['survey']['age'].value;
			if (validate == ''){
				document.getElementById('error').innerHTML = "Please include your age";
				return false;
			}
			console.log('it worked')
		}
	</script>	
</body>

</html>