<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../CSS/style.css">
        <title>Document</title>
    </head>
<body>
    <ul>
        <li><a class='option' >Survey Data</a></li>
        <li><a class='option' >Add new data</a></li>
        <li><a class='option-active' href="graphs.html">Graphs</a></li>
        <li><a class='option'>Log in</a></li>
    </ul>
</body>
</html>