<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Hello Provo City technical committee! We know that you will be looking for names and descriptions of pages. We have included these on all of our pages, though not always in the comments. We got a bootstrap template that came with name and description meta tags, and we chose to use those in some cases. So if you are struggling to find those comments, check the meta tags. -->
        <!-- This page, is the home page. It serves to inform the user about what the SMUMH is about and act as a hub for the rest of the site -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Welcome to the homepage for the SMUMH! Come learn the effects that social media can have on your mental health." />
        <meta name="author" content="Alex Fankhauser, Preston Fitzgerald, Seth Brock, Zach Hansen" />
        <title>Social Media Usage and Mental Health | Home</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../assets/provoFavicon.png"/>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@latest/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-white bg-white">
            <div class="container px-5">
                <a class="navbar-brand" href="/"><img src="assets/provo logo.png" alt="Provo City Logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/survey">Survey</a></li>
                        <li class="nav-item"><a class="nav-link" href="/admin">Data</a></li>
                        <li id="account" class="nav-item"></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <br><br><br><br>
                            <h1 class="display-5 fw-bolder text-white mb-2">Social Media Usage and Mental Health Committee</h1>
                            <p class="lead text-white-75 mb-4">Exploring the effects of social media on the mental health of the Provo community</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/survey">Take our survey</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="#features">Learn More</a>
                            </div>
                        </div>
                        <!-- Putting the id here makes it line up better with the nav bar -->
                        <div id="features"></div>
                    </div>
                </div>
            </div>
        </header>
        <!--A brief summary of why we get this data-->
        <section class="py-5 border-bottom" >
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-graph-up"></i></div>
                        <h2 class="h4 fw-bolder">Social Media Boom</h2>
                        <p>In the past two decades, social media has revolutionized global communication. Its ongoing evolution continues to dynamically impact society, technology, and human behavior.</p>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-bank"></i></div>
                        <h2 class="h4 fw-bolder">The Provo Pillars</h2>
                        <p>Provo aims to be 
                            <span style="color: blue;">Welcoming</span>, <span style="color: orange;">Safe & Sound</span>,
                            <span style="color: #76bd1d">Economically Vibrant</span>, and <span style="color: gray;">Forward-Looking</span>. 
                            This website explores the impacts of social media on mental health to achieve these goals.</p>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-graph-down"></i></div>
                        <h2 class="h4 fw-bolder">Mental Health Decline</h2>
                        <p>In recent years, there has been a notable surge in mental health problems. This shift has prompted increased awareness and the fostering of crucial conversations about mental well-being in society.</p>
                        <!--<a class="text-decoration-none" href="/survey">
                            Take the Survey
                            <i class="bi bi-arrow-right"></i>
                        </a>-->
                    </div>
                </div>
            </div>
        </section>
        <!-- A brief description of the SMUMH -->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="text-center mb-5" style="width: 70%; margin: auto">
                    <h2 class="fw-bolder">About the Social Media Usage<br/> and Mental Health Committee</h2>
                    <p>Amidst the ever-expanding role of social media in daily life, Provo’s city government recognizes a pressing need to explore the intricate relationship between digital connectivity and mental health within their community. With a surge in concerns regarding rising levels of anxiety, depression, and social isolation, Provo’s local government has created a Social Media Usage and Mental Health committee (SMU MH committee) to investigate how social media usage patterns may contribute to these challenges. By delving into this connection, they seek a nuanced understanding of the specific influences and stressors that digital platforms may exert on residents' mental well-being.</p>
                </div>
            </div>
        </section>
        <!--Self-Care Tips section-->
        <section class="py-5 border-bottom">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Self-Care Tips</h2>
                    <p class="lead mb-0">Mental wellness must be a priority</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <!--Tip 1-->
                        <div class="card mb-4" style="border-color: #76bd1d; border-width: medium;">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-battery-charging text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">Prioritize your sleep schedule. Establishing a regular, healthy sleep pattern can reduce stress and feelings of depression.
                                            Allow your body and your mind to recharge.
                                        </p>
                                        <!-- <div class="small text-muted">- Client Name, Location</div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Tip 2-->
                        <div class="card" style="border-color: #76bd1d; border-width: medium;">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-bicycle text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">Stay active! Physical activity, whether it be playing sports with friends or going on a hike, can help you find emotional balance.
                                            Get up off the couch and go have some fun with loved ones!
                                        </p>
                                        <!-- <div class="small text-muted">- Client Name, Location</div> -->
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <!--Tip 3-->
                        <div class="card" style="border-color: #76bd1d; border-width: medium;">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-exclamation-diamond text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">Limit stressors. There are many things that bring stress into our lives. While stress can help push you to do your best,
                                            it can also factor into depressive moods. Reduce social media use if it impacts your mental health negatively.
                                        </p>
                                        <!-- <div class="small text-muted">- Client Name, Location</div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section, just in case we want it later -->
        <!-- <section class="bg-light py-5">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                    <h2 class="fw-bolder">Get in touch</h2>
                    <p class="lead mb-0">We'd love to hear from you</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                          
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Full name</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Email address</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">Phone number</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                            </div>
                        
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Message</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
  
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>

                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>

                            <div class="d-grid"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-5"><p class="m-0 text-center text-white">smumh@byu.net   |  (801) 378-1557</p><p class="m-0 text-center text-white">Copyright &copy; Provo City 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script>//sessionStorage.setItem('name', 'Preston');</script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <!-- Checks for log in to see what to display in the navbar -->
        <script>
            if (sessionStorage.getItem('login') == 'true') {
                document.getElementById('account').innerHTML = '<li class="nav-item"><a class="nav-link" href="/account">Account</a></li>'
                } else { 
                document.getElementById('account').innerHTML = '<li class="nav-item"><a class="nav-link" href="/account">Log In</a></li>'
                }
        </script>
    </body>
</html>
