<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Alex Fankhauser, Preston Fitzgerald, Seth Brock, Zach Hansen -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/provoFavicon.png"/>
    <title>Document</title>
</head>
<body>
    Click <a href="/">here</a> if redirect failed
    <!-- The purpose of this page is to pass information via a session variable that the user is successfully logged out. This allows the login to interact with the HTMl -->
    <!-- This sets a session storage variable and then redirects the user to the homepage. -->
    <script>sessionStorage.setItem('login', 'false'); window.location.href='/'</script>
</body>
</html>