<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Alex Fankhauser, Preston Fitzgerald, Seth Brock, Zach Hansen -->
    <!-- Section 1, Group 11 -->
    <!-- The purpose of this page is to create a variable that passes through session storage to alert the user of an invalid input -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/provoFavicon.png" />
    <title>Document</title>
</head>

<body>
    <!-- This is a backup in case you get stuck on the page -->
    Click <a href="/account">here</a> if redirect failed
    <!-- This sets a session storage variable and then redirects the user to the accounts page. -->
    <script>sessionStorage.setItem('fail', 'true');
        window.location.href = '/account'
    </script>
</body>

</html>