<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/provoFavicon.png"/>
    <title>Document</title>
</head>
<body>
    Click <a href="/login">here</a> if redirect failed
    <!-- The purpose of this page is to create a variable that passes through session storage to alert the user of an invalid input -->
    <!-- This sets a session storage variable and then redirects the user to the login page. -->
    <script>sessionStorage.setItem('fail', 'true'); 
    window.location.href='/login'
    </script>
</body>
</html>