<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="Alex Fankhauser, Preston Fitzgerald, Seth Brock, Zach Hansen" />
	<title>Social Media Usage and Mental Health | Survey</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="../assets/provoFavicon.png"/>
	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@latest/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="../css/styles.css" rel="stylesheet" />
</head>

<body>
	<!-- Responsive navbar-->
	<nav class="navbar navbar-expand-lg navbar-white bg-white">
		<div class="container px-5">
			<a class="navbar-brand" href="/"><img src="../assets/provo logo.png" alt="Provo City Logo"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link active" aria-current="page" href="/survey">Survey</a></li>
					<li class="nav-item"><a class="nav-link" href="/graphs">Data</a></li>
					<li id="account" class="nav-item"></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Header-->
	<header class="bg-dark py-5">
		<div class="container px-5">
			<div class="row gx-5 justify-content-center">
				<div class="text-center">
					<br><br><br><br><br>
					<h1 class="display-5 fw-bolder text-white mb-2">Social Media and Mental Health Survery</h1><br>
					<p class="lead text-white-50 mb-4">With a surge in concerns regarding rising levels of anxiety,
						depression,
						and social isolation, Provo City has created a Social Media Usage and Mental Health committee
						(SMU MH committee)
						to investigate how social media usage patterns may contribute to these challenges. By delving
						into this connection,
						we seek a nuanced understanding of the specific influences and stressors that digital platforms
						may exert on residents'
						mental well-being. We appreciate your help in this study! Fill out the form below and press
						submit when finished.
					</p>
				</div>
			</div>
		</div>
	</header>
	<!-- Here is the survey in all of it's glory. I used a variety of input with some Javascript to make it more fun-->
	<section class="py-5 border-bottom" id="features">
		<div class="container px-5 my-5">
			<form action="/newSurvey" method="post">
				<ol>
					<!--Q1: AGE-->
					<li><label for="age">What is your age?</label></li>
					<input type="number" min="1" max="100" id="age" name="age" style="text-align: center;"
						required="required"><br><br>

					<!--Q2: GENDER-->
					<li><label for="gender">What is your gender?</label></li>
					<select name="gender" id="listGender" required="required">
						<option value="Male">Male</option>
						<option value="Female">Female</option>
						<option value="Non-binary">Non-binary</option>
						<option value="Other">Other</option>
						<option value="Prefer not to say">Prefer not to say</option>
					</select><br><br>

					<!--HIDDEN INPUT TO SPECIFY PROVO CITY-->
					<input type="hidden" name="city" id="city" value="Provo">

					<!--Q3: RELATIONSHIP STATUS-->
					<li><label for="relationship">What is your relationship status?</label></li>
					<select name="relationship" id="relationship" required="required">
						<option value="single">Single</option>
						<option value="in-relationship">In a relationship</option>
						<option value="married">Married</option>
						<option value="divorced">Divorced</option>
						<option value="widowed">Widowed</option>
						<option value="complicated">It's complicated</option>
					</select><br><br>

					<!--Q4: OCCUPATION STATUS-->
					<li><label>What is your occupation status?</label></li>
					<input type="radio" id="S-Student" name="occupation" value="School student" required="required">
					<lable for="S-Student">School Student</lable>
					<input type="radio" id="U-Student" name="occupation" value="University student" required="required">
					<lable for="U-Student">University Student</lable>
					<input type="radio" id="work" name="occupation" value="Salaried Worker" required="required">
					<lable for="work">Working</lable>
					<input type="radio" id="No-work" name="occupation" value="Not working" required="required">
					<label for="No-work">Not working</label>
					<input type="radio" id="retired" name="occupation" value="Retired" required="required">
					<lable for="retired">Retired</lable><br><br>

					<!--Q5: AFFILIATED ORGANIZATIONS-->
					<li><label>What type of organizations are you affiliated with?</label></li>
					<input type="checkbox" id="University" name="organizations" value="1">
					<lable for="University">University</lable>
					<input type="checkbox" id="Private" name="organizations" value="2">
					<lable for="Private">Private</lable>
					<input type="checkbox" id="School" name="organizations" value="3">
					<lable for="School">School</lable>
					<input type="checkbox" id="Company" name="organizations" value="4">
					<lable for="Company">Company</lable>
					<input type="checkbox" id="Government" name="organizations" value="5">
					<lable for="Government">Government</lable><br><br>

					<!--Q6: USE SOCIAL MEDIA-->
					<li><label>Do you use social media?</label></li>
					<input type="radio" id="ySocial" value="Yes" name="useSocial" required="required">
					<label for="ySocial">Yes</label>
					<input type="radio" id="nSocial" value="No" name="useSocial" required="required">
					<label for="nSocial">No</label><br><br>

					<!--Q7: SOCIAL MEDIA PLATFORMS USED-->
					<!--Something extra: replace the checkboxes with platform logos-->
					<li><label>What social media platforms do you commonly use?</label></li>
					<input type="checkbox" id="Facebook" name="platform" value="1">
					<label for="Facebook">Facebook</label>
					<input type="checkbox" id="Youtube" name="platform" value="2">
					<label for="Youtube">Youtube</label>
					<input type="checkbox" id="Pinterest" name="platform" value="3">
					<label for="Pinterest">Pinterest</label>
					<input type="checkbox" id="Instagram" name="platform" value="4">
					<label for="Instagram">Instagram</label>
					<input type="checkbox" id="Snapchat" name="platform" value="5">
					<label for="Snapchat">Snapchat</label>
					<input type="checkbox" id="TikTok" name="platform" value="6">
					<label for="TikTok">TikTok</label>
					<input type="checkbox" id="Reddit" name="platform" value="7">
					<label for="Reddit">Reddit</label>
					<input type="checkbox" id="Discord" name="platform" value="8">
					<label for="Discord">Discord</label>
					<input type="checkbox" id="Twitter/X" name="platform" value="9">
					<label for="Twitter/X">Twitter/X</label>
					<input type="checkbox" id="BeReal" name="platform" value="10">
					<label for="BeReal">BeReal</label>
					<input type="checkbox" id="Other" name="platform" value="11">
					<label for="Other">Other</label><br><br>

					<!--Q8: TIME SPENT ON SOCIAL MEDIA-->
					<li><label for="time">What is the average time you spend on social media every day?</label></li>
					<input type="range" name="time" id="time" min="1" max="6">
					<p id="timeOutput"></p>

					<!--Q9: ON SOCIAL MEDIA WITH NO PURPOSE-->
					<li><label for="9">How often do you find yourself using social media without a specific
							purpose?</label></li>
					<input type="range" name="9" id="9" min="1" max="5">
					<p id="9Output"></p>

					<!--Q10: DISTRACTED BY SOCIAL MEDIA-->
					<li><label for="10">How often do you get distracted by social media when you are busy doing
							something?</label></li>
					<input type="range" name="10" id="10" min="1" max="5">
					<p id="10Output"></p>

					<!--Q11: RESTLESS AFTER NOT USING SOCIAL MEDIA-->
					<li><label for="11">Do you feel restless if you haven&#39;t used social media in a while?</label>
					</li>
					<input type="range" name="11" id="11" min="1" max="5">
					<p id="11Output"></p>

					<!--Q12: HOW EASILY DISTRACTED-->
					<li><label for="12">How easily distracted are you?</label></li>
					<input type="range" name="12" id="12" min="1" max="5">
					<p id="12Output"></p>

					<!--Q13: BOTHERED BY WORRIES-->
					<li><label for="13">How much are you bothered by worries?</label></li>
					<input type="range" name="13" id="13" min="1" max="5">
					<p id="13Output"></p>

					<!--Q14: DIFFICULTY CONCENTRATING-->
					<li><label for="14">Do you find it difficult to concentrate on things?</label></li>
					<input type="range" name="14" id="14" min="1" max="5">
					<p id="14Output"></p>

					<!--Q15: FREQUENCY COMPARING THROUGH SOCIAL MEDIA-->
					<li><label for="15">How often do you compare yourself to other successful people through the use of
							social media?</label></li>
					<input type="range" name="15" id="15" min="1" max="5">
					<p id="15Output"></p>

					<!--Q16: FEELINGS ABOUT COMPARISONS ON SOCIAL MEDIA-->
					<li><label for="16">Following the previous question, how do you feel about these comparisons,
							generally speaking?</label></li>
					<input type="range" name="16" id="16" min="1" max="5">
					<p id="16Output"></p>

					<!--Q17: LOOKING FOR VALIDATION THROUGH SOCIAL MEDIA-->
					<li><label for="17">How often do you look to seek validation from features of social media?</label>
					</li>
					<input type="range" name="17" id="17" min="1" max="5">
					<p id="17Output"></p>

					<!--Q18: FEELING DEPRESSED OR DOWN-->
					<li><label for="18">How often do you feel depressed or down?</label></li>
					<input type="range" name="18" id="18" min="1" max="5">
					<p id="18Output"></p>

					<!--Q19: INTEREST IN DAILY ACTIVITIES-->
					<li><label for="19">How frequently does your interested in daily activities fluctuate?</label></li>
					<input type="range" name="19" id="19" min="1" max="5">
					<p id="19Output"></p>

					<!--Q20: SLEEP ISSUES-->
					<li><label for="20">How often do you face issues regarding sleep?</label></li>
					<input type="range" name="20" id="20" min="1" max="5">
					<p id="20Output"></p>
				</ol>
				<button type="submit">Submit</button>
			</form>
		</div>
	</section>

	<!-- Footer-->
	<footer class="py-5 bg-dark">
		<div class="container px-5">
			<p class="m-0 text-center text-white">Put an email here | Put a phone number here</p>
			<p class="m-0 text-center text-white">Copyright &copy; Not Actually Provo City 2023</p>
		</div>
	</footer>

	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

	<!-- Core theme JS-->
	<script src="../js/scripts.js"></script>
	<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

	<!-- All scripts from here on out serve a similar purpose, and it is to match sliders up with text. 
		They read the imput from the sliders and generate text immiediately underneath them. Currently it only works for 3 -->
	<script>
		// This sets up initial values and sets slider and output variables
		var sTimeOutput = 'Between 3 and 4 hours';
		var timeSlider = document.getElementById("time");
		var timeOutput = document.getElementById("timeOutput");
		timeOutput.innerHTML = sTimeOutput;

		timeSlider.oninput = function () {
			if (this.value == 1) {
				sTimeOutput = "Less than an hour"
			}
			else if (this.value == 2) {
				sTimeOutput = "Between 1 and 2 hours"
			}
			else if (this.value == 3) {
				sTimeOutput = "Between 2 and 3 hours"
			}
			else if (this.value == 4) {
				sTimeOutput = "Between 3 and 4 hours"
			}
			else if (this.value == 5) {
				sTimeOutput = "Between 4 and 5 hours"
			}
			else {
				sTimeOutput = "More than 5 hours"
			}
			timeOutput.innerHTML = sTimeOutput;
		}
	</script>
	<script>
		var t9Output = 'Sometimes';
		var i9Slider = document.getElementById("9");
		var s9Output = document.getElementById("9Output");
		s9Output.innerHTML = t9Output;

		i9Slider.oninput = function () {
			if (this.value == 1) {
				t9Output = "Almost never"
			}
			else if (this.value == 2) {
				t9Output = "Rarely"
			}
			else if (this.value == 3) {
				t9Output = "Sometimes"
			}
			else if (this.value == 4) {
				t9Output = "Often"
			}
			else if (this.value == 5) {
				t9Output = "Always"
			}
			s9Output.innerHTML = t9Output;
		}
	</script>
	<script>
		var t10Output = 'Sometimes';
		var i10Slider = document.getElementById("10");
		var s10Output = document.getElementById("10Output");
		s10Output.innerHTML = t10Output;

		i10Slider.oninput = function () {
			if (this.value == 1) {
				t10Output = "Almost never";
			} else if (this.value == 2) {
				t10Output = "Rarely";
			} else if (this.value == 3) {
				t10Output = "Sometimes";
			} else if (this.value == 4) {
				t10Output = "Often";
			} else if (this.value == 5) {
				t10Output = "Always";
			}
			s10Output.innerHTML = t10Output;
		};
	</script>
	<script>
		var t11Output = 'Sometimes';
		var i11Slider = document.getElementById("11");
		var s11Output = document.getElementById("11Output");
		s11Output.innerHTML = t11Output;

		i11Slider.oninput = function () {
			if (this.value == 1) {
				t11Output = "Almost never";
			} else if (this.value == 2) {
				t11Output = "Rarely";
			} else if (this.value == 3) {
				t11Output = "Sometimes";
			} else if (this.value == 4) {
				t11Output = "Often";
			} else if (this.value == 5) {
				t11Output = "Always";
			}
			s11Output.innerHTML = t11Output;
		};
	</script>
	<script>
		var t12Output = 'Sometimes';
		var i12Slider = document.getElementById("12");
		var s12Output = document.getElementById("12Output");
		s12Output.innerHTML = t12Output;

		i12Slider.oninput = function () {
			if (this.value == 1) {
				t12Output = "Almost never";
			} else if (this.value == 2) {
				t12Output = "Rarely";
			} else if (this.value == 3) {
				t12Output = "Sometimes";
			} else if (this.value == 4) {
				t12Output = "Often";
			} else if (this.value == 5) {
				t12Output = "Always";
			}
			s12Output.innerHTML = t12Output;
		};
	</script>
	<script>
		var t13Output = 'Sometimes';
		var i13Slider = document.getElementById("13");
		var s13Output = document.getElementById("13Output");
		s13Output.innerHTML = t13Output;

		i13Slider.oninput = function () {
			if (this.value == 1) {
				t13Output = "Almost never";
			} else if (this.value == 2) {
				t13Output = "Rarely";
			} else if (this.value == 3) {
				t13Output = "Sometimes";
			} else if (this.value == 4) {
				t13Output = "Often";
			} else if (this.value == 5) {
				t13Output = "Always";
			}
			s13Output.innerHTML = t13Output;
		};
	</script>
	<script>
		var t14Output = 'Sometimes';
		var i14Slider = document.getElementById("14");
		var s14Output = document.getElementById("14Output");
		s14Output.innerHTML = t14Output;

		i14Slider.oninput = function () {
			if (this.value == 1) {
				t14Output = "Almost never";
			} else if (this.value == 2) {
				t14Output = "Rarely";
			} else if (this.value == 3) {
				t14Output = "Sometimes";
			} else if (this.value == 4) {
				t14Output = "Often";
			} else if (this.value == 5) {
				t14Output = "Always";
			}
			s14Output.innerHTML = t14Output;
		};
	</script>
	<script>
		var t15Output = 'Sometimes';
		var i15Slider = document.getElementById("15");
		var s15Output = document.getElementById("15Output");
		s15Output.innerHTML = t15Output;

		i15Slider.oninput = function () {
			if (this.value == 1) {
				t15Output = "Almost never";
			} else if (this.value == 2) {
				t15Output = "Rarely";
			} else if (this.value == 3) {
				t15Output = "Sometimes";
			} else if (this.value == 4) {
				t15Output = "Often";
			} else if (this.value == 5) {
				t15Output = "Always";
			}
			s15Output.innerHTML = t15Output;
		};
	</script>
	<script>
		var t16Output = 'Okay';
		var i16Slider = document.getElementById("16");
		var s16Output = document.getElementById("16Output");
		s16Output.innerHTML = t16Output;

		i16Slider.oninput = function () {
			if (this.value == 1) {
				t16Output = "Really bad"
			}
			else if (this.value == 2) {
				t16Output = "Bad"
			}
			else if (this.value == 3) {
				t16Output = "Okay"
			}
			else if (this.value == 4) {
				t16Output = "Good"
			}
			else if (this.value == 5) {
				t16Output = "Really good"
			}
			s16Output.innerHTML = t16Output;
		}
	</script>
	<script>
		var t17Output = 'Sometimes';
		var i17Slider = document.getElementById("17");
		var s17Output = document.getElementById("17Output");
		s17Output.innerHTML = t17Output;

		i17Slider.oninput = function () {
			if (this.value == 1) {
				t17Output = "Almost never";
			} else if (this.value == 2) {
				t17Output = "Rarely";
			} else if (this.value == 3) {
				t17Output = "Sometimes";
			} else if (this.value == 4) {
				t17Output = "Often";
			} else if (this.value == 5) {
				t17Output = "Always";
			}
			s17Output.innerHTML = t17Output;
		};
	</script>
	<script>
		var t18Output = 'Sometimes';
		var i18Slider = document.getElementById("18");
		var s18Output = document.getElementById("18Output");
		s18Output.innerHTML = t18Output;

		i18Slider.oninput = function () {
			if (this.value == 1) {
				t18Output = "Almost never";
			} else if (this.value == 2) {
				t18Output = "Rarely";
			} else if (this.value == 3) {
				t18Output = "Sometimes";
			} else if (this.value == 4) {
				t18Output = "Often";
			} else if (this.value == 5) {
				t18Output = "Always";
			}
			s18Output.innerHTML = t18Output;
		};
	</script>
	<script>
		var t19Output = 'Sometimes';
		var i19Slider = document.getElementById("19");
		var s19Output = document.getElementById("19Output");
		s19Output.innerHTML = t19Output;

		i19Slider.oninput = function () {
			if (this.value == 1) {
				t19Output = "Almost never";
			} else if (this.value == 2) {
				t19Output = "Rarely";
			} else if (this.value == 3) {
				t19Output = "Sometimes";
			} else if (this.value == 4) {
				t19Output = "Often";
			} else if (this.value == 5) {
				t19Output = "Always";
			}
			s19Output.innerHTML = t19Output;
		};
	</script>
	<script>
		var t20Output = 'Sometimes';
		var i20Slider = document.getElementById("20");
		var s20Output = document.getElementById("20Output");
		s20Output.innerHTML = t20Output;

		i20Slider.oninput = function () {
			if (this.value == 1) {
				t20Output = "Almost never";
			} else if (this.value == 2) {
				t20Output = "Rarely";
			} else if (this.value == 3) {
				t20Output = "Sometimes";
			} else if (this.value == 4) {
				t20Output = "Often";
			} else if (this.value == 5) {
				t20Output = "Always";
			}
			s20Output.innerHTML = t20Output;
		};
	</script>
	<script>
		if (sessionStorage.getItem('login') == 'true') {
			document.getElementById('account').innerHTML = '<li class="nav-item"><a class="nav-link" href="/account">Account</a></li>'
		} else {
			document.getElementById('account').innerHTML = '<li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>'
		}
	</script>
</body>

</html>