<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="This survey helps us gage the mental health impact of social media usage on the citizens of Provo, UT" />
	<meta name="author" content="Alex Fankhauser, Preston Fitzgerald, Seth Brock, Zach Hansen" />
	<title>Social Media Usage and Mental Health | Survey</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" src="../assets/provoFavicon.png"/>
	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@latest/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="../css/styles.css" rel="stylesheet" />
	<style>
		/* Customize the ordered list, which affects the form */
		ol		{font-size: large;
				font-weight: medium;}
		
		/* This rounds the corners on the number box and the drop down boxes */
		input[type=number] 	{border-radius: 10px;}
		
		select	{border-radius: 10px;
				text-align: center;}
				
		input[type=radio]	{appearance: none;

							border-radius: 50%;
							width: 16px;
							height: 16px;

							border: 2px solid #999;
							transition: 0.2s all linear;
							margin-right: 5px;

							position: relative;
							top: 2px;}
		input[type=radio]:checked {
			border: 6px solid #76bd1d;
			}

		.radio-label	{margin-right: 15px;
						line-height: 32px;}

	</style>
		<style>
			.container2 {
				font-size: 24px;
				cursor: pointer;
				caret-color: transparent;
				display: flex;
				align-items: center;
			}
			img { padding-right: 5px;
				width: 15%}


			/* Hide the browser's default checkbox */
			.container2 input {
			display: none;
			}

			/* Hide the checked checkbox */
			.img-checked {
				display: none;
			}
			.img-hover {
				display: none;
			}


			.container2 input:checked ~ .img-checked {
				display: inline;
			}


			.container2 input:checked ~ .img-unchecked {
				display: none;
			}

			.container2:hover input:not(:checked) ~ .img-hover {
				display: inline;
			} */

			/* .container2:hover input:not(:checked) ~ .img-checked {
				display: none;
			}

			.container2:hover input:not(:checked) ~ .img-unchecked {
				display: none;
			} */
		</style>
</head>

<body>
	<!-- Responsive navbar-->
	<nav class="navbar navbar-expand-lg navbar-white bg-white">
		<div class="container px-5">
			<a class="navbar-brand" href="/"><img src="provo logo.png" alt="Provo City Logo"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link active" aria-current="page" href="/survey">Survey</a></li>
					<li class="nav-item"><a class="nav-link" href="/graphs">Data</a></li>
					<li id="account" class="nav-item"></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Header-->
	<header class="bg-dark py-5">
		<div class="container px-5">
			<div class="row gx-5 justify-content-center">
				<div class="text-center">
					<br><br><br><br><br>
					<h1 class="display-5 fw-bolder text-white mb-2">Social Media and Mental Health Survery</h1><br>
					<p class="lead text-white-50 mb-4">With a surge in concerns regarding rising levels of anxiety,
						depression,
						and social isolation, Provo City has created a Social Media Usage and Mental Health committee
						(SMU MH committee)
						to investigate how social media usage patterns may contribute to these challenges. By delving
						into this connection,
						we seek a nuanced understanding of the specific influences and stressors that digital platforms
						may exert on residents'
						mental well-being. We appreciate your help in this study! Fill out the form below and press
						submit when finished.
					</p>
				</div>
			</div>
		</div>
	</header>
	<!-- Here is the survey in all of it's glory. I used a variety of input with some Javascript to make it more fun-->
	<section class="py-5 border-bottom" id="features">
		<div class="container px-5 my-5" style="width: 65%; margin: auto">
			<form action="/newSurvey" method="post">
				<ol>
					<!--Q1: AGE-->
					<li><label for="age">What is your age?</label></li>
					<input type="number" min="1" max="100" id="age" name="age" style="text-align: center;"
						required="required" class="form-number"><br><br>

					<!--Q2: GENDER-->
					<li><label for="gender">What is your gender?</label></li>
					<select name="gender" id="listGender" required="required">
						<option value="Male">Male</option>
						<option value="Female">Female</option>
						<option value="Non-binary">Non-binary</option>
						<option value="Other">Other</option>
						<option value="Prefer not to say">Prefer not to say</option>
					</select><br><br>

					<!--HIDDEN INPUT TO SPECIFY PROVO CITY-->
					<input type="hidden" name="city" id="city" value="Provo">

					<!--Q3: RELATIONSHIP STATUS-->
					<li><label for="relationship">What is your relationship status?</label></li>
					<select name="relationship" id="relationship" required="required">
						<option value="Single">Single</option>
						<option value="In a relationship">In a relationship</option>
						<option value="Married">Married</option>
						<option value="Divorced">Divorced</option>
						<option value="Widowed">Widowed</option>
						<option value="It's complicated">It's complicated</option>
					</select><br><br>

					<!--Q4: OCCUPATION STATUS-->
					<li><label>What is your occupation status?</label></li>
					<input type="radio" id="S-Student" name="occupation" value="School Student" required="required" checked="checked">
					<lable for="S-Student" class="radio-label">School Student</lable>
					<input type="radio" id="U-Student" name="occupation" value="University Student" required="required">
					<lable for="U-Student" class="radio-label">University Student</lable>
					<input type="radio" id="work" name="occupation" value="Salaried Worker" required="required">
					<lable for="work" class="radio-label">Working</lable>
					<input type="radio" id="No-work" name="occupation" value="Not Working" required="required">
					<label for="No-work" class="radio-label">Not working</label>
					<input type="radio" id="retired" name="occupation" value="Retired" required="required">
					<lable for="retired" class="radio-label">Retired</lable><br><br>

					<!--Q5: AFFILIATED ORGANIZATIONS-->
					<li><label>What type of organizations are you affiliated with?</label></li>
					<input type="checkbox" id="University" name="org1" value="1">
					<lable for="University">University</lable>
					<input type="checkbox" id="Private" name="org2" value="2">
					<lable for="Private">Private</lable>
					<input type="checkbox" id="School" name="org3" value="3">
					<lable for="School">School</lable>
					<input type="checkbox" id="Company" name="org4" value="4">
					<lable for="Company">Company</lable>
					<input type="checkbox" id="Government" name="org5" value="5">
					<lable for="Government">Government</lable><br><br>

					<!--Q6: USE SOCIAL MEDIA-->
					<li><label>Do you use social media?</label></li>
					<input type="radio" id="ySocial" value="Yes" name="useSocial" required="required" checked="checked">
					<label for="ySocial" class="radio-label">Yes</label>
					<input type="radio" id="nSocial" value="No" name="useSocial" required="required">
					<label for="nSocial" class="radio-label">No</label><br><br>

					<!--Q7: SOCIAL MEDIA PLATFORMS USED-->
					<!--Something extra: replace the checkboxes with platform logos-->
					<li><label>What social media platforms do you commonly use?</label></li>

				  	<label for="Facebook" class="container2">
						<input type="checkbox" id="Facebook" name="soc1" value="1">
						<img class="img-unchecked" src="Facebook_Logo_Unchecked.png" alt="Facebook (unchecked)"/>
						<img class="img-checked" src="Facebook_Logo_Checked.png" alt="Facebook (checked)"/>
				  	</label>
					<input type="checkbox" id="Facebook" name="soc1" value="1">
					
					<input type="checkbox" id="Youtube" name="soc2" value="2">
					<label for="Youtube">Youtube</label>
					<input type="checkbox" id="Pinterest" name="soc3" value="3">
					<label for="Pinterest">Pinterest</label>
					<input type="checkbox" id="Instagram" name="soc4" value="4">
					<label for="Instagram">Instagram</label><br/>
					<input type="checkbox" id="Snapchat" name="soc5" value="5">
					<label for="Snapchat">Snapchat</label>
					<input type="checkbox" id="TikTok" name="soc6" value="6">
					<label for="TikTok">TikTok</label>
					<input type="checkbox" id="Reddit" name="soc7" value="7">
					<label for="Reddit">Reddit</label>
					<input type="checkbox" id="Discord" name="soc8" value="8">
					<label for="Discord">Discord</label><br/>
					<input type="checkbox" id="Twitter/X" name="soc9" value="9">
					<label for="Twitter/X">Twitter/X</label>
					<input type="checkbox" id="BeReal" name="soc10" value="10">
					<label for="BeReal">BeReal</label>
					<input type="checkbox" id="Other" name="soc11" value="11">
					<label for="Other">Other</label><br><br>

					<!--Q8: TIME SPENT ON SOCIAL MEDIA-->
					<li><label for="time">What is the average time you spend on social media every day?</label></li>
					<div style="width: 25%;"><p><input type="range" name="time" id="time" min="1" max="6" class="form-range"></p>
					<p id="timeOutput" style="text-align: center;"></p></div>

					<!--HIDDEN INPUT TO WRITE TIME SPENT STRING TO DATABASE-->
					<input type="hidden" name="timeOutput2" id="timeOutput2" value="">

					<!--Q9: ON SOCIAL MEDIA WITH NO PURPOSE-->
					<li><label for="np">How often do you find yourself using social media without a specific
							purpose?</label></li>
					<div style="width: 25%;"><input type="range" name="np" id="np" min="1" max="5" class="form-range">
					<p id="9Output" style="text-align: center;"></p></div>

					<!--Q10: DISTRACTED BY SOCIAL MEDIA-->
					<li><label for="dsm">How often do you get distracted by social media when you are busy doing
							something?</label></li>
					<div style="width: 25%;"><input type="range" name="dsm" id="dsm" min="1" max="5" class="form-range">
					<p id="10Output" style="text-align: center;"></p></div>

					<!--Q11: RESTLESS AFTER NOT USING SOCIAL MEDIA-->
					<li><label for="rw">Do you feel restless if you haven&#39;t used social media in a while?</label>
					</li>
					<div style="width: 25%;"><input type="range" name="rw" id="rw" min="1" max="5" class="form-range">
					<p id="11Output" style="text-align: center;"></p></div>

					<!--Q12: HOW EASILY DISTRACTED-->
					<li><label for="ed">How easily distracted are you?</label></li>
					<div style="width: 25%;"><input type="range" name="ed" id="ed" min="1" max="5" class="form-range">
					<p id="12Output" style="text-align: center;"></p></div>

					<!--Q13: BOTHERED BY WORRIES-->
					<li><label for="w">How much are you bothered by worries?</label></li>
					<div style="width: 25%;"><input type="range" name="w" id="w" min="1" max="5" class="form-range">
					<p id="13Output" style="text-align: center;"></p></div>

					<!--Q14: DIFFICULTY CONCENTRATING-->
					<li><label for="dc">Do you find it difficult to concentrate on things?</label></li>
					<div style="width: 25%;"><input type="range" name="dc" id="dc" min="1" max="5" class="form-range">
					<p id="14Output" style="text-align: center;"></p></div>

					<!--Q15: FREQUENCY COMPARING THROUGH SOCIAL MEDIA-->
					<li><label for="smc">How often do you compare yourself to other successful people through the use of
							social media?</label></li>
					<div style="width: 25%;"><input type="range" name="smc" id="smc" min="1" max="5" class="form-range">
					<p id="15Output" style="text-align: center;"></p></div>

					<!--Q16: FEELINGS ABOUT COMPARISONS ON SOCIAL MEDIA-->
					<li><label for="cf">Following the previous question, how do you feel about these comparisons,
							generally speaking?</label></li>
					<div style="width: 25%;"><input type="range" name="cf" id="cf" min="1" max="5" class="form-range">
					<p id="16Output" style="text-align: center;"></p></div>

					<!--Q17: LOOKING FOR VALIDATION THROUGH SOCIAL MEDIA-->
					<li><label for="val">How often do you look to seek validation from features of social media?</label>
					</li>
					<div style="width: 25%;"><input type="range" name="val" id="val" min="1" max="5" class="form-range">
					<p id="17Output" style="text-align: center;"></p></div>

					<!--Q18: FEELING DEPRESSED OR DOWN-->
					<li><label for="dd">How often do you feel depressed or down?</label></li>
					<div style="width: 25%;"><input type="range" name="dd" id="dd" min="1" max="5" class="form-range">
					<p id="18Output" style="text-align: center;"></p></div>

					<!--Q19: INTEREST IN DAILY ACTIVITIES-->
					<li><label for="ai">How frequently does your interested in daily activities fluctuate?</label></li>
					<div style="width: 25%;"><input type="range" name="ai" id="ai" min="1" max="5" class="form-range">
					<p id="19Output" style="text-align: center;"></p></div>

					<!--Q20: SLEEP ISSUES-->
					<li><label for="si">How often do you face issues regarding sleep?</label></li>
					<div style="width: 25%;"><input type="range" name="si" id="si" min="1" max="5" class="form-range">
					<p id="20Output" style="text-align: center;"></p></div>
				</ol>
				<br/><br/>
				<button type="submit" class="btn btn-primary btn-lg px-4 me-sm-3">Submit</button>
			</form>
		</div>
	</section>

	<!-- Footer-->
	<footer class="py-5 bg-dark">
		<div class="container px-5">
			<p class="m-0 text-center text-white">smumh@byu.net   |  (801) 378-1557</p>
			<p class="m-0 text-center text-white">Copyright &copy; Not Actually Provo City 2023</p>
		</div>
	</footer>

	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

	<!-- Core theme JS-->
	<script src="../js/scripts.js"></script>
	<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
	

	<!-- All scripts from here on out serve a similar purpose, and it is to match sliders up with text. 
		They read the imput from the sliders and generate text immiediately underneath them -->
	<script>
		// This sets up initial values and sets slider and output variables
		var sTimeOutput = 'Between 3 and 4 hours';
		var timeSlider = document.getElementById("time");
		var timeOutput = document.getElementById("timeOutput");
		var timeOutput2 = document.getElementById("timeOutput2");
		timeOutput.innerHTML = sTimeOutput;
		timeOutput2.value = sTimeOutput;

		timeSlider.oninput = function () {
			if (this.value == 1) {
				sTimeOutput = "Less than an hour";
			}
			else if (this.value == 2) {
				sTimeOutput = "Between 1 and 2 hours";
			}
			else if (this.value == 3) {
				sTimeOutput = "Between 2 and 3 hours";
			}
			else if (this.value == 4) {
				sTimeOutput = "Between 3 and 4 hours";
			}
			else if (this.value == 5) {
				sTimeOutput = "Between 4 and 5 hours";
			}
			else {
				sTimeOutput = "More than 5 hours";
			}
			timeOutput.innerHTML = sTimeOutput;
			timeOutput2.value = sTimeOutput;
		}
	</script>
	<script>
		var t9Output = 'Sometimes';
		var i9Slider = document.getElementById("np");
		var s9Output = document.getElementById("9Output");
		s9Output.innerHTML = t9Output;

		i9Slider.oninput = function () {
			if (this.value == 1) {
				t9Output = "Almost never"
			}
			else if (this.value == 2) {
				t9Output = "Rarely"
			}
			else if (this.value == 3) {
				t9Output = "Sometimes"
			}
			else if (this.value == 4) {
				t9Output = "Often"
			}
			else if (this.value == 5) {
				t9Output = "Always"
			}
			s9Output.innerHTML = t9Output;
		}
	</script>
	<script>
		var t10Output = 'Sometimes';
		var i10Slider = document.getElementById("dsm");
		var s10Output = document.getElementById("10Output");
		s10Output.innerHTML = t10Output;

		i10Slider.oninput = function () {
			if (this.value == 1) {
				t10Output = "Almost never";
			} else if (this.value == 2) {
				t10Output = "Rarely";
			} else if (this.value == 3) {
				t10Output = "Sometimes";
			} else if (this.value == 4) {
				t10Output = "Often";
			} else if (this.value == 5) {
				t10Output = "Always";
			}
			s10Output.innerHTML = t10Output;
		};
	</script>
	<script>
		var t11Output = 'Sometimes';
		var i11Slider = document.getElementById("rw");
		var s11Output = document.getElementById("11Output");
		s11Output.innerHTML = t11Output;

		i11Slider.oninput = function () {
			if (this.value == 1) {
				t11Output = "Almost never";
			} else if (this.value == 2) {
				t11Output = "Rarely";
			} else if (this.value == 3) {
				t11Output = "Sometimes";
			} else if (this.value == 4) {
				t11Output = "Often";
			} else if (this.value == 5) {
				t11Output = "Always";
			}
			s11Output.innerHTML = t11Output;
		};
	</script>
	<script>
		var t12Output = 'Sometimes';
		var i12Slider = document.getElementById("ed");
		var s12Output = document.getElementById("12Output");
		s12Output.innerHTML = t12Output;

		i12Slider.oninput = function () {
			if (this.value == 1) {
				t12Output = "Almost never";
			} else if (this.value == 2) {
				t12Output = "Rarely";
			} else if (this.value == 3) {
				t12Output = "Sometimes";
			} else if (this.value == 4) {
				t12Output = "Often";
			} else if (this.value == 5) {
				t12Output = "Always";
			}
			s12Output.innerHTML = t12Output;
		};
	</script>
	<script>
		var t13Output = 'Sometimes';
		var i13Slider = document.getElementById("w");
		var s13Output = document.getElementById("13Output");
		s13Output.innerHTML = t13Output;

		i13Slider.oninput = function () {
			if (this.value == 1) {
				t13Output = "Almost never";
			} else if (this.value == 2) {
				t13Output = "Rarely";
			} else if (this.value == 3) {
				t13Output = "Sometimes";
			} else if (this.value == 4) {
				t13Output = "Often";
			} else if (this.value == 5) {
				t13Output = "Always";
			}
			s13Output.innerHTML = t13Output;
		};
	</script>
	<script>
		var t14Output = 'Sometimes';
		var i14Slider = document.getElementById("dc");
		var s14Output = document.getElementById("14Output");
		s14Output.innerHTML = t14Output;

		i14Slider.oninput = function () {
			if (this.value == 1) {
				t14Output = "Almost never";
			} else if (this.value == 2) {
				t14Output = "Rarely";
			} else if (this.value == 3) {
				t14Output = "Sometimes";
			} else if (this.value == 4) {
				t14Output = "Often";
			} else if (this.value == 5) {
				t14Output = "Always";
			}
			s14Output.innerHTML = t14Output;
		};
	</script>
	<script>
		var t15Output = 'Sometimes';
		var i15Slider = document.getElementById("smc");
		var s15Output = document.getElementById("15Output");
		s15Output.innerHTML = t15Output;

		i15Slider.oninput = function () {
			if (this.value == 1) {
				t15Output = "Almost never";
			} else if (this.value == 2) {
				t15Output = "Rarely";
			} else if (this.value == 3) {
				t15Output = "Sometimes";
			} else if (this.value == 4) {
				t15Output = "Often";
			} else if (this.value == 5) {
				t15Output = "Always";
			}
			s15Output.innerHTML = t15Output;
		};
	</script>
	<script>
		var t16Output = 'Okay';
		var i16Slider = document.getElementById("cf");
		var s16Output = document.getElementById("16Output");
		s16Output.innerHTML = t16Output;

		i16Slider.oninput = function () {
			if (this.value == 1) {
				t16Output = "Really bad"
			}
			else if (this.value == 2) {
				t16Output = "Bad"
			}
			else if (this.value == 3) {
				t16Output = "Okay"
			}
			else if (this.value == 4) {
				t16Output = "Good"
			}
			else if (this.value == 5) {
				t16Output = "Really good"
			}
			s16Output.innerHTML = t16Output;
		}
	</script>
	<script>
		var t17Output = 'Sometimes';
		var i17Slider = document.getElementById("val");
		var s17Output = document.getElementById("17Output");
		s17Output.innerHTML = t17Output;

		i17Slider.oninput = function () {
			if (this.value == 1) {
				t17Output = "Almost never";
			} else if (this.value == 2) {
				t17Output = "Rarely";
			} else if (this.value == 3) {
				t17Output = "Sometimes";
			} else if (this.value == 4) {
				t17Output = "Often";
			} else if (this.value == 5) {
				t17Output = "Always";
			}
			s17Output.innerHTML = t17Output;
		};
	</script>
	<script>
		var t18Output = 'Sometimes';
		var i18Slider = document.getElementById("dd");
		var s18Output = document.getElementById("18Output");
		s18Output.innerHTML = t18Output;

		i18Slider.oninput = function () {
			if (this.value == 1) {
				t18Output = "Almost never";
			} else if (this.value == 2) {
				t18Output = "Rarely";
			} else if (this.value == 3) {
				t18Output = "Sometimes";
			} else if (this.value == 4) {
				t18Output = "Often";
			} else if (this.value == 5) {
				t18Output = "Always";
			}
			s18Output.innerHTML = t18Output;
		};
	</script>
	<script>
		var t19Output = 'Sometimes';
		var i19Slider = document.getElementById("ai");
		var s19Output = document.getElementById("19Output");
		s19Output.innerHTML = t19Output;

		i19Slider.oninput = function () {
			if (this.value == 1) {
				t19Output = "Almost never";
			} else if (this.value == 2) {
				t19Output = "Rarely";
			} else if (this.value == 3) {
				t19Output = "Sometimes";
			} else if (this.value == 4) {
				t19Output = "Often";
			} else if (this.value == 5) {
				t19Output = "Always";
			}
			s19Output.innerHTML = t19Output;
		};
	</script>
	<script>
		var t20Output = 'Sometimes';
		var i20Slider = document.getElementById("si");
		var s20Output = document.getElementById("20Output");
		s20Output.innerHTML = t20Output;

		i20Slider.oninput = function () {
			if (this.value == 1) {
				t20Output = "Almost never";
			} else if (this.value == 2) {
				t20Output = "Rarely";
			} else if (this.value == 3) {
				t20Output = "Sometimes";
			} else if (this.value == 4) {
				t20Output = "Often";
			} else if (this.value == 5) {
				t20Output = "Always";
			}
			s20Output.innerHTML = t20Output;
		};
	</script>
	<script>
		if (sessionStorage.getItem('login') == 'true') {
			document.getElementById('account').innerHTML = '<li class="nav-item"><a class="nav-link" href="/account">Account</a></li>'
		} else {
			document.getElementById('account').innerHTML = '<li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>'
		}
	</script>
</body>

</html>